<div id="<%= dom_id bank_transaction %>">
  <p>
    <strong>Posted at:</strong>
    <%= bank_transaction.posted_at %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= bank_transaction.amount %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= bank_transaction.description %>
  </p>

  <p>
    <strong>Md5:</strong>
    <%= bank_transaction.md5 %>
  </p>

</div>
