<%= form_with(model: bank_transaction) do |form| %>
  <% if bank_transaction.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(bank_transaction.errors.count, "error") %> prohibited this bank_transaction from being saved:</h2>

      <ul>
        <% bank_transaction.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-field">
    <%= form.date_field :posted_at, class: 'input' %>
    <%= form.label :posted_at, class: 'label' %>
  </div>

  <div class='form-field'>
    <%= form.number_field :total, class: 'input', step: '.01' %>
    <%= form.label :total, class: 'label' %>
  </div>

  <div class='form-field'>
    <%= form.text_field :description, class: 'input' %>
    <%= form.label :description, class: 'label' %>
  </div>

  <div>
    <%= form.submit class: 'button button-primary' %>
  </div>
<% end %>
