<p style="color: green"><%= notice %></p>

<h1>Bank transactions</h1>
<hr class='mt-4'/>
<div class='flex flex-col md:flex-row divide-x divide-gray-200'>
  <div class='w-full md:w-1/5 flex gap-4 flex-col divide-y divide-gray-200'>
    <div class='p-2'>
      <h2>Visualize</h2>
      <ul>
        <li>
          <%= link_to 'Dashboard'.html_safe, bank_transactions_path(tags: params[:tags], display: 'table') %>
        </li>
        <li>
          <%= link_to 'Table'.html_safe, bank_transactions_path(tags: params[:tags], display: 'table') %>
        </li>
      </ul>
    </div>
    <div class='p-2'>
      <h2>Filter</h2>
      <% if params[:tags]&.any? %>
        <ul>
          <% Tag.where(id: params[:tags]).order(value: :asc).each do |tag| %>
            <% these_tags = [].concat(params[:tags] || []) %>
            <li><%= link_to "&times; #{tag.value}".html_safe, bank_transactions_path(tags: these_tags.difference([tag.id.to_s])) %></li>
          <% end %>
        </ul>
      <% end %>
      <ul>
        <% Tag.where.not(id: (params[:tags] || [])).order(value: :asc).each do |tag| %>
          <% these_tags = [].concat(params[:tags] || []) %>
          <li><%= link_to tag.value, bank_transactions_path(tags: these_tags.concat([tag.id])) %></li>
        <% end %>
      </ul>
    </div>
    <div class='flex flex-col gap-4 p-2'>
      <%= link_to "Upload Transactions", new_bank_transaction_list_path, class: 'button button-primary' %>
      <%= link_to "Add Transaction", new_bank_transaction_path, class: 'button button-primary' %>
      <%= link_to "Search Transactions", bank_transactions_path, class: 'button button-primary' %>
      <%= link_to "Tag Random", random_untagged_bank_transactions_path, class: 'button button-primary' %>
    </div>
  </div>
  <%= turbo_frame_tag 'bank_transactions', target: '_top' do %>
    <div id="bank_transactions" class='text-sm md:text-base overflow-auto flex-grow'>
      <%= paginate @bank_transactions %>
      <% if @bank_transactions.empty? %>
        No transactions available
      <% end %>
      <table class='table'>
        <thead>
          <tr class>
            <th>Posted At</th>
            <th>Amount</th>
            <th>Description</th>
            <th>Tags</th>
            <th></th>
          </tr>
        </thead>
        <tbody class=''>
          <% @bank_transactions.map(&:decorate).each do |bank_transaction| %>
            <% tag_str = bank_transaction.tags.pluck(:value).join(", ") %>
            <tr id="<%= dom_id(bank_transaction) %>">
              <td><%= bank_transaction.posted_at %></td>
              <td><%= bank_transaction.total %></td>
              <td><div title="<%= bank_transaction.description %>" class='max-w-[10rem] md:max-w-[250px] truncate'><%= bank_transaction.description %></div></td>
              <td><div title="<%= tag_str %>" class='max-w-[10rem] truncate'><%= tag_str %></div></td>
              <td><%= link_to 'View', bank_transaction %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div>
        Total: <%= @total.format %>
      </div>
    </div>
  <% end %>
</div>
