<p style="color: green"><%= notice %></p>

<h1>Bank transactions</h1>

<div id="bank_transactions">
  <table>
    <thead>
      <tr>
        <th>Posted At</th>
        <th>Amount</th>
        <th>Description</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @bank_transactions.each do |bank_transaction| %>
        <tr>
          <td><%= bank_transaction.posted_at %></td>
          <td><%= bank_transaction.amount %></td>
          <td><%= bank_transaction.description %></td>
          <td><%= link_to 'View', bank_transaction %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to "New bank transaction", new_bank_transaction_path %>
