<p style="color: green"><%= notice %></p>

<h1>Bank transactions</h1>

<%= link_to "New bank transaction", new_bank_transaction_path, class: 'button button-primary' %>

<div id="bank_transactions" class='text-sm md:text-base overflow-auto'>
  <table class='table'>
    <thead>
      <tr class>
        <th>Posted At</th>
        <th>Amount</th>
        <th>Description</th>
        <th>Tags</th>
        <th></th>
      </tr>
    </thead>
    <tbody class=''>
      <% @bank_transactions.each do |bank_transaction| %>
        <tr>
          <td><%= bank_transaction.posted_at %></td>
          <td><%= bank_transaction.amount %></td>
          <td><div class='max-w-[10rem] max-h-4 truncate'><%= bank_transaction.description %></div></td>
          <td><div class='max-w-[10rem] max-h-4 truncate'><%= bank_transaction.tags.pluck(:value).join(", ") %></div></td>
          <td><%= link_to 'View', bank_transaction %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

