<p style="color: green"><%= notice %></p>

<h1>Transaction Details</h1>
<hr class='my-4'/>
<%= render @bank_transaction %>
<hr/>
<div>
  <%= link_to "Edit this bank transaction", edit_bank_transaction_path(@bank_transaction) %>
</div>

<div>
  <%= link_to "Back to bank transactions", bank_transactions_path %>
</div>

<div>
  <%= button_to "Destroy this bank transaction", @bank_transaction, method: :delete %>
</div>

