<%= turbo_frame_tag (dom_id(@bank_transaction) + "_similar") do %>
  <div>
    <div class='text-lg font-bold'>Similar Transactions (<%= @similar_transactions.count(:id) %>)</div>
    <%= form_with(url: similar_bank_transaction_path(@bank_transaction), method: :get) do |form| %>
      <%= form.label :threshold %>
      <%= form.number_field :threshold, step: ".01", value: @threshold %>
      <%= form.submit 'Filter', class: 'button button-primary inline text-sm' %>
    <% end %>
    <div class='py-2'></div>
    <%= form_with(url: tag_similar_bank_transaction_path(@bank_transaction), method: :post) do |form| %>
      <%= form.hidden_field :threshold, value: @threshold %>
      <%= form.submit 'Apply Tags To Similar', class: 'button button-primary' %>
    <% end %>
    <div class='py-2'></div>
    <%= form_with(url: approve_similar_bank_transaction_path(@bank_transaction), method: :post) do |form| %>
      <%= form.hidden_field :threshold, value: @threshold %>
      <%= form.submit 'Approve Similar', class: 'button button-primary' %>
    <% end %>
    <table class='table'>
      <thead>
        <tr class>
          <th>Posted At</th>
          <th>Amount</th>
          <th>Description</th>
          <th>Approved</th>
          <th>Tags</th>
          <th></th>
        </tr>
      </thead>
      <tbody class=''>
        <% @similar_transactions.map(&:decorate).each do |similar_bank_transaction| %>
          <% tag_str = similar_bank_transaction.tags.pluck(:value).join(", ") %>
          <tr id="<%= dom_id(similar_bank_transaction) %>">
            <td><%= similar_bank_transaction.posted_at %></td>
            <td><%= similar_bank_transaction.total %></td>
            <td><div title="<%= similar_bank_transaction.description %>" class='max-w-[10rem] md:max-w-[250px] truncate'><%= similar_bank_transaction.description %></div></td>
            <td>
              <% if similar_bank_transaction.reviewed %>
                <span class='text-green-500'>
              <% else %>
                <span class='text-red-500'>
              <% end %>
                  <%= similar_bank_transaction.reviewed %>
              </span>
            </td>
            <td><div title="<%= tag_str %>" class='max-w-[10rem] truncate'><%= tag_str %></div></td>
            <td><%= link_to 'View', similar_bank_transaction %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
