<%= form_with(model: bank_transaction_list) do |form| %>
  <% if bank_transaction_list.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(bank_transaction_list.errors.count, "error") %> prohibited this bank_transaction_list from being saved:</h2>

      <ul>
        <% bank_transaction_list.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class='form-field'>
    :x
    <%= form.file_field :source_file %>
  </div>

  <div class='form-field'>
    <%= form.label :source_type %>
    <%= form.select :source_type, options_for_select(["Wells Fargo", "Chase", "Amex"])%>
  </div>

  <div>
    <%= form.submit class: 'button button-primary'%>
  </div>
<% end %>
